* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E6ECF0;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

input, button {
    outline: 0;
}

header#main-header {
    height: 46px;
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.logo {
    width: 25px;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav img {
    width: 25px;
}

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
    margin-left: 30px;
}

header#main-header nav ul li:first-child {
    margin: 0;
}

header#main-header nav ul li img {
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side input {
    width: 220px;
    border: 1px solid #E6ECF0;
    height: 34px;
    padding: 0 30px 0 12px;
    border-radius: 10px;
    color: #667581;
    font-size: 12px;
    background: #F5F8FA url('./assets/search.svg') no-repeat 180px;
}

header#main-header div.side img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side button {
    height: 34px;
    background: #3BB9E3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    border: 0;
    border-radius: 10px;
}

.banner {
    height: 380px;
    width: 100%;
    background: #3BB9E3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.bar {
    height: 59px;
    background: #FFF;
    box-shadow: 0 1px rgba(0, 0, 0, 0.25);
}

.bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 285px;
    height: 100%;
}

.bar .content ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.bar .content ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    position: relative;
    justify-content: center;
}

.bar .content ul li.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3BB9E3;
}

.bar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

.bar .content ul li strong {
    color: #667580;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
}

.bar .content ul li.active strong {
    color: #3BB9E3;
}

.bar .content .actions {
    display: flex;
}

.bar .content .actions button {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #3BB9E3;
    border: 1px solid #3BB9E3;
    border-radius: 10px;
    margin-right: 20px;
}

.wrapper-content {
    display: flex;
}

.wrapper-content .profile {
    width: 260px;
}

.wrapper-content .profile .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin-top: -130px;
}

.wrapper-content .profile h1 {
    font-size: 21px;
    color: #1F2226;
    margin-top: 10px;
}

.wrapper-content .profile span {
    font-size: 14px;
    color: #53626C;
}

.wrapper-content .profile p {
    font-size: 14px;
    color: #1F2226;
    margin-top: 15px;
}

.wrapper-content .profile ul {
    margin-top: 20px;
    list-style: none;
}

.wrapper-content .profile .list li {
    font-size: 14px;
    color: #657786;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.wrapper-content .profile li:first-child {
    margin: 0;
}

.wrapper-content .profile li img {
    margin-right: 10px;
}

.wrapper-content .profile .widget {
    margin-top: 20px;
}

.wrapper-content .profile .widget strong {
    font-weight: normal;
    color: #3BB9E3;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.wrapper-content .profile .widget strong img {
    margin-right: 5px;
}

.wrapper-content .profile .followers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-content .profile .followers ul li {
    width: 45px;
    height: 45px;
    background-image: url('./assets/avatar.svg');
    border-radius: 50%;
    margin: 0 5px 5px 0;
    flex: 1 0 auto;
}

.wrapper-content .profile .images ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-content .profile .images ul li {
    width: 80px;
    height: 80px;
    background: #D0D5D9;
    border-radius: 8px;
    margin: 0 5px 5px 0;
    flex: 1 0 auto;
}

.wrapper-content .timeline {
    flex: 1;
    background: #FFF;
    margin: 10px 20px 0;
}

.wrapper-content .timeline nav {
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px; 
}

.wrapper-content .timeline nav a {
    text-decoration: none;
    color: #3BB9E3;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.wrapper-content .timeline nav a:first-child {
    margin: 0;
}

.wrapper-content .timeline nav a.active {
    color: #1F2226;
}

.wrapper-content .timeline ul.tweets {
    list-style: none;
}

.wrapper-content .timeline ul.tweets li {
    border-bottom: 1px solid #E6ECF0;
    padding: 10px 15px;
    display: flex;
}

.wrapper-content .timeline ul.tweets li > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper-content .timeline ul.tweets li .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper-content .timeline ul.tweets li .info strong {
    font-size: 14px;
    color: #1F2326;
}

.wrapper-content .timeline ul.tweets li .info strong span {
    font-weight: normal;
    font-size: 13px;
    color: #7B8B9A;
}

.wrapper-content .timeline ul.tweets li .info p {
    font-size: 14px;
    color: #1F2326;
    margin-top: 5px;
}

.wrapper-content .timeline ul.tweets li .actions {
    display: flex;
    margin-top: 20px;
}

.wrapper-content .timeline ul.tweets li .actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #667580;
    font-weight: bold;
    font-size: 12px;
    margin-left: 30px;
}

.wrapper-content .timeline ul.tweets li .actions a img {
    margin-right: 5px;
}

.wrapper-content .timeline ul.tweets li .actions a:first-child {
    margin-left: 0;
}

.wrapper-content .widgets {
    width: 290px;
    margin-top: 10px;
}

.wrapper-content .widgets .widget {
    background: #FFF;
    padding: 15px;
}

.wrapper-content .widgets .widget .title {
    display: flex;
    align-items: baseline;
}

.wrapper-content .widgets .widget .title strong {
    font-size: 18px;
    color: #1F2226;
}

.wrapper-content .widgets .widget .title a {
    color: #3BB9E3;
    font-size: 12px;
    text-decoration:none;
    position: relative;
    padding-left: 10px;
}

.wrapper-content .widgets .widget .title a::before {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    left: 4px;
    top: 6px;
}

.wrapper-content .widgets .follow ul {
    list-style: none;
    margin-top: 10px;
}

.wrapper-content .widgets .follow ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCD6DD;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.wrapper-content .widgets .follow ul li .profile {
    display: flex;
    align-items: center;
}

.wrapper-content .widgets .follow ul li .profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wrapper-content .widgets .follow ul li .profile .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.wrapper-content .widgets .follow .profile .info strong {
    font-size: 14px;
    color: #1F2326;
}

.wrapper-content .widgets .follow ul li .profile .info span {
    font-weight: normal;
    color: #9A9A9A;
}

.wrapper-content .widgets .follow ul li .profile .info button {
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #3BB9E3;
    border: 1px solid #3BB9E3;
    border-radius: 10px;
    margin-top: 4px;
}

.wrapper-content .widgets .follow ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.wrapper-content .widgets .follow ul li > a {
    color:  #CCD6DD;
    content: url('./assets/close.svg');
    text-decoration: none;
    font-size: 12px;
}

/* Responsive */

@media screen and (max-width: 890px) {
    #main-header, .widget, .widgets, .bar, .list {
        display: none;
    }

    .wrapper-content {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wrapper-content .profile {
        width: auto;
    }

    .wrapper-content .timeline nav a {
        font-size: 14px !important;
    }
}